[user]
	name = {{ .name }}
	email = {{ .email }}

[core]
	autoclrf = false
	editor = vim

[credential]
    helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
	useHttpPath = true

[pull]
	rebase = false