{{ if .golang -}}

#!/bin/bash
set -eufo pipefail

git -C ~/.goenv pull || git clone https://github.com/go-nv/goenv.git ~/.goenv

GOENV_ROOT="$HOME/.goenv"
PATH="$GOENV_ROOT/bin:$PATH"

goenv install latest
goenv global $(goenv versions --bare)

{{ end -}}